Импорт библиотек

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import torch
import torch.nn as nn
import torch.optim as optim

Загрузка данных

DATA_3

In [2]:
abs_data3 = [
    '0 %',
    '14 %',
    '3 %',
    '0 %',
    '14 %',
    '10 %',
    '19 %',
    '3 %',
    '4 %',
    '0 %',
    '0 %',
    '0 %',
    '0 %',
    '4 %',
    '10 %',
    '7 %',
    '0 %',
    '4 %',
    '0 %',
    '7 %',
    '7 %',
    '4 %',
    '3 %',
    '0 %',
    '4 %',
    '7 %',
    '11 %',
    '11 %',
    '0 %',
    '0 %',
    '19 %',
    '0 %',
    '0 %',
    '0 %',
    '4 %',
    '7 %',
    '0 %',
    '3 %',
    '14 %',
    '4 %',
    '3 %',
    '4 %',
    '0 %',
    '0 %',
    '0 %',
    '19 %',
    '4 %',
    '4 %',
    '0 %',
    '26 %',
    '3 %',
    '4 %',
    '0 %',
    '0 %',
    '7 %',
    '4 %',
    '7 %',
    '7 %',
    '7 %',
    '11 %',
    '4 %',
    '3 %',
    '4 %',
    '7 %',
    '4 %',
    '7 %',
    '4 %',
    '7 %',
    '11 %',
    '4 %',
    '0 %',
    '24 %',
    '7 %',
    '0 %',
    '11 %',
    '7 %',
    '0 %',
    '4 %',
    '0 %',
    ]

# Convert to decimal format
abs_data3 = [float(p.strip().replace(' %', '')) for p in abs_data3]

pf_data3 = [
    100,
    100,
    100,
    68,
    42,
    76,
    64,
    97,
    93,
    100,
    88,
    85,
    97,
    61,
    82,
    73,
    81,
    37,
    37,
    80,
    73,
    62,
    63,
    78,
    100,
    82,
    27,
    31,
    87,
    87,
    60,
    95,
    100,
    95,
    82,
    93,
    70,
    93,
    97,
    75,
    86,
    84,
    58,
    95,
    86,
    78,
    65,
    85,
    70,
    60,
    81,
    68,
    65,
    81,
    52,
    66,
    78,
    33,
    76,
    65,
    74,
    94,
    58,
    67,
    52,
    72,
    80,
    63,
    33,
    0,
    91,
    61,
    84,
    88,
    62,
    50,
    80,
    87,
    94,
    ]

fin_data3 = [
    45,
    100,
    100,
    63,
    55,
    78,
    45,
    98,
    100,
    75,
    100,
    88,
    63,
    63,
    70,
    59,
    88,
    50,
    63,
    100,
    50,
    50,
    81,
    63,
    100,
    55,
    63,
    0,
    100,
    100,
    96,
    63,
    100,
    63,
    25,
    88,
    88,
    85,
    60,
    88,
    70,
    100,
    88,
    100,
    97,
    87,
    75,
    88,
    95,
    40,
    65,
    88,
    100,
    100,
    50,
    0,
    100,
    0,
    25,
    63,
    100,
    80,
    75,
    38,
    88,
    45,
    100,
    88,
    50,
    np.nan,
    100,
    45,
    55,
    50,
    50,
    100,
    100,
    100,
    100,
]


re_data3 = [
    np.nan if i != 4 and i != 55 else 50 if i == 4 else 25 for i in range(len(fin_data3))
]


avg_data3 = [
    78,
    100,
    100,
    66,
    45,
    77,
    56,
    97,
    96,
    90,
    93,
    86,
    83,
    62,
    77,
    67,
    84,
    42,
    47,
    88,
    64,
    57,
    70,
    72,
    100,
    71,
    41,
    19,
    92,
    92,
    74,
    82,
    100,
    82,
    59,
    91,
    77,
    90,
    82,
    80,
    80,
    90,
    70,
    97,
    90,
    82,
    69,
    86,
    80,
    52,
    75,
    76,
    79,
    89,
    51,
    50,
    87,
    20,
    56,
    64,
    84,
    88,
    65,
    55,
    66,
    61,
    88,
    73,
    40,
    0,
    95,
    55,
    72,
    73,
    57,
    70,
    88,
    92,
    96,
]

lg_data3 = [
    'B-',
    'A',
    'A',
    'C',
    'FX',
    'B-',
    'D+',
    'A',
    'A',
    'A-',
    'A-',
    'B+',
    'B',
    'C-',
    'B-',
    'C',
    'B',
    'FX',
    'FX',
    'B+',
    'C-',
    'D+',
    'C+',
    'C+',
    'A',
    'C+',
    'FX',
    'F',
    'A-',
    'A-',
    'C+',
    'B',
    'A',
    'B',
    'D+',
    'A-',
    'B-',
    'A-',
    'B',
    'B',
    'B',
    'A-',
    'C+',
    'A',
    'A-',
    'B',
    'C',
    'B+',
    'B',
    'D',
    'B-',
    'B-',
    'B-',
    'B+',
    'D',
    'D',
    'B+',
    'F',
    'D+',
    'C-',
    'B',
    'B+',
    'C',
    'D+',
    'C',
    'C-',
    'B+',
    'C+',
    'FX',
    'F',
    'A',
    'D+',
    'C+',
    'C+',
    'D+',
    'C+',
    'B+',
    'A-',
    'A',
    ]

In [3]:
ABS_PERC2 = [
    17.0,
    19.0, 
    21.0,
    24.0,
    21.0,
    29.0,
    5.0,
    26.0,
    0.0,
    24.0,
    10.0,
    7.0,
    21.0,
    0.0,
    0.0,
    0.0,
    50.0,
    7.0,
    7.0,
    2.0,
    10.0,
    26.0,
    26.0,
    29.0,
    0.0,
    5.0,
    5.0,
    14.0,
    29.0,
    21.0,
    12.0,
    14.0,
    26.0,
    7.0,
    10.0,
    36.0
]

PF2 = [
    21,
    7,
    70,
    83,
    100,
    82,
    80,
    82,
    100,
    7,
    100,
    100,
    95,
    73,
    92,
    100,
    'failed',
    95,
    100,
    88,
    93,
    100,
    7,
    53,
    100,
    75,
    73,
    92,
    100,
    100,
    100,
    100,
    58,
    67,
    90,
    'failed'
]

FINAL2 = [
    'abs',
    np.nan,
    10,
    40,
    33,
    55,
    45,
    10,
    95,
    np.nan,
    65,
    55,
    25,
    65,
    28,
    74,
    'failed',
    38,
    33,
    15,
    53,
    50,
    np.nan,
    48,
    37,
    30,
    35,
    8,
    30,
    48,
    45,
    53,
    10,
    0,
    40,
    'failed'
]

RE2 = [
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    'failed',
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    40,
    np.nan,
    np.nan,
    'failed',
]

AVG2 = [
    0,
    4,
    46,
    66,
    73,
    71,
    66,
    53,
    98,
    4,
    86,
    82,
    67,
    70,
    66,
    90,
    0,
    72,
    73,
    59,
    77,
    80,
    4,
    51,
    75,
    57,
    58,
    58,
    72,
    79,
    78,
    81,
    51,
    40,
    70,
    0,
]

LG2 = [
    'F',
    'F',
    'FX',
    'C',
    'C+',
    'C+',
    'C',
    'D',
    'A',
    'F',
    'B+',
    'B',
    'C',
    'C+',
    'C',
    'A-',
    'F',
    'C+',
    'C+',
    'D+',
    'B-',
    'B',
    'F',
    'D',
    'B-',
    'D+',
    'D+',
    'D+',
    'C+',
    'B-',
    'B-',
    'B',
    'D',
    'FX',
    'C+',
    'F'
]

In [4]:
#Course Absence Rate
ABS_PERC = [
    "3 %",
    "25 %",
    "29 %",
    "10 %",
    "10 %",
    "8 %",
    "0 %",
    "10 %",
    "7 %",
    "0 %",
    "7 %",
    "0 %",
    "0 %",
    "5 %",
    "5 %",
    "0 %",
    "10 %",
    "8 %",
    "0 %",
    "33 %",
    "0 %",
    "27 %",
    "27 %",
    "8 %",
    "8 %",
    "17 %",
    "63 %",
    "15 %",
    "8 %",
    "3 %",
    "23 %",
    "43 %",
    "0 %",
    "17 %",
    "13 %",
    "0 %",
    "33 %",
    "8 %",
    "7 %",
    "20 %",
    "23 %",
    "30 %",
    "2 %",
    "30 %",
    "22 %",
    "3 %",
    "3 %",
    "25 %",
    "8 %",
    "17 %",
    "28 %",
    "0 %",
    "10 %",
    "8 %",
    "10 %",
    "5 %",
    "48 %",
    "29 %",
    "0 %",
    "15 %",
    "3 %",
    "10 %",
    "20 %",
    "25 %",
    "10 %",
    "3 %",
    "2 %",
    "10 %",
    "20 %",
    "0 %",
    "5 %",
    "18 %",
    "30 %",
    "65 %",
    "5 %",
    "8 %",
    "8 %",
    "18 %",
    "25 %",
    "0 %",
    "15 %",
    "12 %",
    "17 %",
    "20 %",
    "15 %",
    "0 %",
    "8 %",
    "0 %",
    "0 %",
    "23 %"
]

# Convert to decimal format
ABS_PERC = [float(p.strip().replace(' %', '')) for p in ABS_PERC]

PF = [
    92,
    100,
    90,
    87,
    85,
    93,
    100,
    100,
    100,
    98,
    75,
    100,
    100,
    100,
    100,
    68,
    63,
    100,
    100,
    'failed',
    100,
    100,
    92,
    100,
    63,
    100,
    'failed',
    100,
    100,
    100,
    96,
    'failed',
    98,
    88,
    88,
    68,
    'failed',
    100,
    100,
    100,
    73,
    0,
    83,
    76,
    100,
    100,
    98,
    58,
    73,
    100,
    67,
    100,
    100,
    100,
    100,
    100,
    'failed',
    88,
    100,
    75,
    100,
    100,
    100,
    70,
    45,
    100,
    100,
    92,
    83,
    100,
    100,
    60,
    58,
    'failed',
    80,
    70,
    100,
    100,
    42,
    100,
    100,
    73,
    100,
    25,
    100,
    83,
    88,
    100,
    97,
    68,
]

FINAL = [
    36,
    28,
    10,
    13,
    10,
    35,
    75,
    75,
    24,
    30,
    62,
    93,
    80,
    53,
    35,
    22,
    68,
    38,
    88,
    'failed',
    70,
    60,
    10,
    75,
    38,
    75,
    'failed',
    90,
    43,
    68,
    29,
    'failed',
    40,
    13,
    10,
    38,
    'failed',
    38,
    8,
    40,
    20,
    np.nan,
    70,
    13,
    30,
    90,
    40,
    35,
    18,
    63,
    30,
    80,
    15,
    74,
    60,
    55,
    'failed',
    15,
    25,
    62,
    53,
    33,
    75,
    20,
    13,
    87,
    65,
    38,
    15,
    74,
    55,
    8,
    0,
    'failed',
    30,
    25,
    50,
    43,
    0,
    78,
    55,
    28,
    8,
    'abs',
    25,
    30,
    25,
    38,
    63,
    25,
]

RE = [
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    'failed',
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    'failed',
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    'failed',
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    'failed',
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    'failed',
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    33,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    34,
    np.nan,
    'failed',
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
    np.nan,
]

AVG = [
    70,
    71,
    58,
    57,
    55,
    70,
    90,
    90,
    70,
    71,
    70,
    97,
    92,
    81,
    74,
    50,
    65,
    75,
    95,
    0,
    88,
    84,
    59,
    90,
    53,
    90,
    0,
    96,
    77,
    87,
    69,
    0,
    75,
    58,
    57,
    56,
    0,
    75,
    63,
    76,
    52,
    0,
    78,
    51,
    72,
    96,
    75,
    49,
    51,
    85,
    52,
    92,
    66,
    90,
    84,
    82,
    0,
    59,
    70,
    70,
    81,
    73,
    90,
    50,
    40,
    95,
    86,
    70,
    56,
    90,
    82,
    50,
    35,
    0,
    60,
    52,
    80,
    77,
    25,
    91,
    82,
    55,
    63,
    0,
    70,
    62,
    63,
    75,
    83,
    51,
]


LG = [
    "C+",
    "C+",
    "D+",
    "D+",
    "D+",
    "C+",
    "A-",
    "A-",
    "C+",
    "C+",
    "C+",
    "A",
    "A-",
    "B",
    "C+",
    "D",
    "C",
    "B-",
    "A",
    "F",
    "B+",
    "B",
    "D+",
    "A-",
    "D",
    "A-",
    "F",
    "A",
    "B-",
    "B+",
    "C",
    "F",
    "B-",
    "D+",
    "D+",
    "D+",
    "F",
    "B-",
    "C-",
    "B-",
    "D",
    "F",
    "B-",
    "D",
    "C+",
    "A",
    "B-",
    "FX",
    "D",
    "B+",
    "D",
    "A-",
    "C",
    "A-",
    "B",
    "B",
    "F",
    "D+",
    "C+",
    "C+",
    "B",
    "C+",
    "A-",
    "D",
    "FX",
    "A",
    "B+",
    "C+",
    "D+",
    "A-",
    "B",
    "D",
    "FX",
    "F",
    "C-",
    "D",
    "B",
    "B-",
    "FX",
    "A-",
    "B",
    "D+",
    "C-",
    "F",
    "C+",
    "C-",
    "C-",
    "B-",
    "B",
    "D"
]

IDS - ID students  
ABS_PERC - Course Absence Rate  
PF - Pre-final  
FINAL - Final  
RE - Resit Exam  
TOTAL - Total Score  
LG - Letter Grade

Feature columns = ['Course Absence Rate', 'PF']  
Target column = 'FIN'

In [27]:
df1 = pd.DataFrame({
    'Course Absence Rate': ABS_PERC,
    'PF': PF,
    'FIN': FINAL,
    'RE': RE,
    'TOTAL': AVG,
    'LG': LG
})

In [28]:
df2 = pd.DataFrame({
    'Course Absence Rate': ABS_PERC2,
    'PF': PF2,
    'FIN': FINAL2,
    'RE': RE2,
    'TOTAL': AVG2,
    'LG': LG2
})

In [29]:
# df2['Course Absence Rate'] = df2['Course Absence Rate'] / 100

In [30]:
df3 = pd.DataFrame({
    'Course Absence Rate': abs_data3,
    'PF': pf_data3,
    'FIN': fin_data3,
    'RE': re_data3,
    'TOTAL': avg_data3,
    'LG': lg_data3
})

In [31]:
data = pd.concat([df1, df2, df3], ignore_index=True)

In [32]:
data.head(5)

   Course Absence Rate   PF FIN   RE  TOTAL  LG
0                  3.0   92  36  NaN     70  C+
1                 25.0  100  28  NaN     71  C+
2                 29.0   90  10  NaN     58  D+
3                 10.0   87  13  NaN     57  D+
4                 10.0   85  10  NaN     55  D+

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Course Absence Rate  205 non-null    float64
 1   PF                   205 non-null    object
 2   FIN                  200 non-null    object
 3   RE                   13 non-null     object
 4   TOTAL                205 non-null    int64
 5   LG                   205 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.7+ KB

In [22]:
import io
def save_txt(data):
    # Capture data.info() output
    buffer = io.StringIO()
    data.info(buf=buffer)
    info_str = buffer.getvalue()

    # Save the output to a text file
    with open('data_info.txt', 'w') as f:
        f.write(info_str)

In [34]:
save_txt(data)

Предоброботка данных

In [35]:
# Fill NaN values in column 'FIN' with 0
data['FIN'].fillna(0, inplace=True)

# Replace 'failed' with 0 in column 'FIN'
data['FIN'] = data['FIN'].replace('failed', 0)
# Replace 'abs' with 0 in column 'FIN'
data['FIN'] = data['FIN'].replace('abs', 0)
# Convert column 'FIN' to numeric type
data['FIN'] = data['FIN'].astype(int)

# Replace 'failed' with 0 in column 'PF'
data['PF'] = data['PF'].replace('failed', 0)
# Convert column 'PF' to numeric type
data['PF'] = data['PF'].astype(int)
# Convert column 'Course Absence Rate' to numeric type
data['Course Absence Rate'] = data['Course Absence Rate'].astype(int)
# Drop column RE
data.drop('RE', axis=1, inplace=True)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Course Absence Rate  205 non-null    int32
 1   PF                   205 non-null    int32
 2   FIN                  205 non-null    int32
 3   TOTAL                205 non-null    int64
 4   LG                   205 non-null    object
dtypes: int32(3), int64(1), object(1)
memory usage: 5.7+ KB

In [37]:
data.head(3)

   Course Absence Rate   PF  FIN  TOTAL  LG
0                    3   92   36     70  C+
1                   25  100   28     71  C+
2                   29   90   10     58  D+

In [38]:
def class_type(total):
    if 75 <= total <= 100:
        class_type = 3
    elif 50 <= total < 75:
        class_type = 2
    else:
        class_type = 1
    return class_type

data['Class'] = data['TOTAL'].apply(lambda x: class_type(x))

In [39]:
data

     Course Absence Rate   PF  FIN  TOTAL  LG  Class
0                      3   92   36     70  C+      2
1                     25  100   28     71  C+      2
2                     29   90   10     58  D+      2
3                     10   87   13     57  D+      2
4                     10   85   10     55  D+      2
..                   ...  ...  ...    ...  ..    ...
200                   11   62   50     57  D+      2
201                    7   50  100     70  C+      2
202                    0   80  100     88  B+      3
203                    4   87  100     92  A-      3
204                    0   94  100     96   A      3

[205 rows x 6 columns]

In [40]:
data.to_csv('dataset/all_data.csv', index=False)

To preprocess the data for a neural network, we need to perform several steps including scaling numerical features, encoding categorical features, and possibly handling class imbalance if present. Here's how you can preprocess the given data for a neural network:

1. Scaling Numerical Features: Scale numerical features to a similar range to ensure that they contribute equally to the model training process.
2. Encoding Categorical Features: Encode categorical features into numerical representations since most machine learning algorithms, including neural networks, work with numerical data.
3. Handling Class Imbalance (if applicable): If the distribution of classes in the target variable (in this case, Letter Grade) is imbalanced, you might need to apply techniques like oversampling, undersampling, or using class weights to handle it.

In [127]:
# Assuming your DataFrame is named 'df'
# Step 1: Scaling Numerical Features
scaler = MinMaxScaler()
numerical_features = ['Course Absence Rate', 'PF', 'FIN', 'AVG']
data[numerical_features] = scaler.fit_transform(data[numerical_features])

In [111]:
from sklearn.preprocessing import StandardScaler
# Normalizing the input features
scaler = StandardScaler()
numerical_features = ['Course Absence Rate', 'PF', 'FIN', 'AVG']
data[numerical_features] = scaler.fit_transform(data[numerical_features])